<!DOCTYPE html>
<html lang="en" class="body">
    <h1>{{ message }}</h1>

    <!-- Search Bar, Filter Dropdown, and Clear Button -->
    <div class="search-bar-container">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." />
      <select [(ngModel)]="filterBy">
        <option value="both">First & Last Name</option>
        <option value="location">Location</option>
        <option value="birthday">Birthday</option>
        <option value="email">Email</option>
        <option value="phone">Phone</option>
        <option value="projects_worked_on">Projects Worked</option>
        <option value="team">Team</option>
      </select>
      <button (click)="clearSearch()" class="search-button">Clear</button>
    </div>

    <div class="container">
      <div class="card-data" *ngFor="let user of filteredUsers">
        <mat-card class="user-card" (click)="navigateToUser(user.id)">
          <mat-card-header>
            <mat-card-title>{{ user.firstname }} {{ user.lastname }}</mat-card-title>
            <mat-card-subtitle>{{ user.team }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="user.photo" alt="User Image" class="user-photo" />
          <mat-card-content>
            <p>{{ user.contact.email }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
</html>