.card-data {
  background-color: white;
  padding-top: 20px;
  width: 50%;
  margin-left: 25%;
}

mat-card-header {
  background-image: url('../../assets/mountain-bg.jpeg');
}

.footer-chips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

mat-form-field {
  padding-right: 10px;
}