:host {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    color: rgba(240, 240, 240, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
}