<div id="about-us-container">
    <!-- Passing message to child component -->
    <app-about-us-content [cardData]="currentCard" *ngIf="isVisible"></app-about-us-content>
  <div id="mission-card-container">
    <!--Cards that trigger onHover function -->
    <div class="mission-card" (mouseenter)="onHover(true, 2)">About Us</div>
    <div class="mission-card" (mouseenter)="onHover(true, 1)">Services</div>
    <div class="mission-card" (mouseenter)="onHover(true, 3)">Mission Statement</div>
    <div class="mission-card" (mouseenter)="onHover(true, 4)">Contact Us</div>
  </div>
</div>
